/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
/* line 30, /Users/jerry/Sites/animaze/flat-ui/less/mixins.less */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 114, /Users/jerry/Sites/animaze/flat-ui/less/mixins.less */
.clearfix {
  *zoom: 1;
}
/* line 116, /Users/jerry/Sites/animaze/flat-ui/less/mixins.less */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
/* line 121, /Users/jerry/Sites/animaze/flat-ui/less/mixins.less */
.clearfix:after {
  clear: both;
}
/* line 142, /Users/jerry/Sites/animaze/flat-ui/less/mixins.less */
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
/* line 161, /Users/jerry/Sites/animaze/flat-ui/less/mixins.less */
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/*only fo flat-ui free*/
/* line 8, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
/* line 15, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/* line 23, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a {
  color: #16a085;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
/* line 27, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
/* line 34, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h1,
.h1 {
  font-size: 62.006px /* 64px */;
}
/* line 35, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h2,
.h2 {
  font-size: 51.996px /* 52px */;
}
/* line 36, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h3,
.h3 {
  font-size: 39.998000000000005px /* 40px */;
}
/* line 37, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
/* line 38, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h5,
.h5 {
  font-size: 28px /* 28px */;
}
/* line 39, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
/* line 41, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
/* line 51, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h1 {
  font-weight: 700;
}
/* line 55, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
/* line 60, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
/* line 66, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h4 {
  font-weight: 500;
  margin-top: 4px;
}
/* line 71, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h5 {
  font-weight: 500;
}
/* line 75, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
h6 {
  font-weight: normal;
}
/* line 80, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
/* line 85, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745000000001;
  /* 41px */
  font-weight: 300;
}
/* line 91, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
/* line 97, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
/* line 102, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
/* line 108, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
/* line 114, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
blockquote small:before {
  content: "";
}
/* line 118, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 131, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 135, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
/* line 143, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.text-primary {
  color: #1abc9c;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
/* line 144, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.text-success {
  color: #2ecc71;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
/* line 145, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.text-danger {
  color: #e74c3c;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
/* line 146, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.text-warning {
  color: #f1c40f;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
/* line 147, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.text-info {
  color: #3498db;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
/* line 148, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.text-inverse {
  color: #ffffff;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
/* line 149, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.muted {
  color: #bdc3c7;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
/* line 151, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
footer {
  background-color: transparent;
}
/* line 155, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
/* line 159, /Users/jerry/Sites/animaze/common-files/less/flat-ui-free2.0.0-fix.less */
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
}
/* end only for flat-ui free*/
/* line 2, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-white {
  background-color: #ffffff;
}
/* line 3, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-black {
  background-color: #000000;
}
/* line 5, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-turquoise {
  background-color: #1abc9c;
}
/* line 6, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-green-sea {
  background-color: #16a085;
}
/* line 8, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-emerland {
  background-color: #2ecc71;
}
/* line 9, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-nephritis {
  background-color: #27ae60;
}
/* line 11, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-peter-river {
  background-color: #3498db;
}
/* line 12, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-belize-hole {
  background-color: #2980b9;
}
/* line 14, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-amethyst {
  background-color: #9b59b6;
}
/* line 15, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-wisteria {
  background-color: #8e44ad;
}
/* line 17, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-wet-asphalt {
  background-color: #34495e;
}
/* line 18, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-midnight-blue {
  background-color: #2c3e50;
}
/* line 20, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-sun-flower {
  background-color: #f1c40f;
}
/* line 21, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-orange {
  background-color: #f39c12;
}
/* line 23, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-carrot {
  background-color: #e67e22;
}
/* line 24, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-pumpkin {
  background-color: #d35400;
}
/* line 26, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-alizarin {
  background-color: #e74c3c;
}
/* line 27, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-pomegranate {
  background-color: #c0392b;
}
/* line 29, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-clouds {
  background-color: #ecf0f1;
}
/* line 30, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-silver {
  background-color: #bdc3c7;
}
/* line 32, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-concrete {
  background-color: #95a5a6;
}
/* line 33, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-asbestos {
  background-color: #7f8c8d;
}
/* line 36, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-base {
  background-color: #34495e;
}
/* line 37, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-firm {
  background-color: #1abc9c;
}
/* line 38, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-success {
  background-color: #2ecc71;
}
/* line 39, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-danger {
  background-color: #e74c3c;
}
/* line 40, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-warning {
  background-color: #f1c40f;
}
/* line 41, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bg-info {
  background-color: #3498db;
}
/* line 45, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered {
  border-style: solid;
}
/* line 47, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-turquoise {
  border-color: #16a085;
}
/* line 48, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-emerland {
  border-color: #27ae60;
}
/* line 49, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-peter-river {
  border-color: #2980b9;
}
/* line 50, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
/* line 51, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
/* line 52, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
/* line 53, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-carrot {
  border-color: #d35400;
}
/* line 54, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-alizarin {
  border-color: #c0392b;
}
/* line 55, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
/* line 56, /Users/jerry/Sites/animaze/common-files/less/common.less */
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
/* line 62, /Users/jerry/Sites/animaze/common-files/less/common.less */
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  /* line 66, /Users/jerry/Sites/animaze/common-files/less/common.less */
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
/* line 72, /Users/jerry/Sites/animaze/common-files/less/common.less */
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  /* line 77, /Users/jerry/Sites/animaze/common-files/less/common.less */
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* line 83, /Users/jerry/Sites/animaze/common-files/less/common.less */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
/* line 93, /Users/jerry/Sites/animaze/common-files/less/common.less */
h1 {
  font-weight: normal;
}
/* line 97, /Users/jerry/Sites/animaze/common-files/less/common.less */
h3 {
  font-weight: normal;
}
/* line 102, /Users/jerry/Sites/animaze/common-files/less/common.less */
img {
  -webkit-backface-visibility: hidden;
}
/* line 107, /Users/jerry/Sites/animaze/common-files/less/common.less */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
/* line 113, /Users/jerry/Sites/animaze/common-files/less/common.less */
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
/* line 2, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  /* line 8, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
  }
  /* line 24, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  /* line 28, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  /* line 31, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  /* line 36, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  /* line 39, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  /* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #C9C9C9;
  }
  /* line 52, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  /* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #C9C9C9;
  }
  /* line 57, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  /* line 61, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  /* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #C9C9C9;
  }
  /* line 73, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
  }
  /* line 76, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar .nav-collapse .navbar-form:focus,
  .navbar .nav-collapse .navbar-search:focus {
    outline: 0 none;
  }
  /* line 84, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  body > *,
  .navbar .nav-collapse {
    -webkit-backface-visibility: hidden;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  /* line 90, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .nav-visible body > * {
    left: -72%;
  }
  /* line 94, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  /* line 102, /Users/jerry/Sites/animaze/common-files/less/navbar.less */
  .navbar-fixed-top .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 24, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.delimiter {
  margin-top: 200px;
}
/* line 26, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
/* line 32, /Users/jerry/Sites/animaze/common-files/less/helper.less */
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
/* line 36, /Users/jerry/Sites/animaze/common-files/less/helper.less */
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
/* line 42, /Users/jerry/Sites/animaze/common-files/less/helper.less */
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
/* line 46, /Users/jerry/Sites/animaze/common-files/less/helper.less */
section * {
  z-index: 2;
}
/* line 47, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  /* line 53, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
/* line 57, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  /* line 112, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 119, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
/* line 122, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
/* line 128, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
/* line 131, /Users/jerry/Sites/animaze/common-files/less/helper.less */
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
/* header */
/**
 * Header 23 stylesheet  
 * */
/* line 4, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 {
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 11, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 > .container {
  position: relative;
}
/* line 14, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar {
  position: absolute;
  z-index: 2;
  top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 19, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
}
/* line 23, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar a {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s color;
  -moz-transition: 0.25s color;
  -o-transition: 0.25s color;
  transition: 0.25s color;
}
/* line 26, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar .navbar-inner {
  background: none;
}
/* line 29, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar .brand {
  padding-left: 0;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
}
/* line 36, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar .nav > li {
  margin-left: 20px;
}
/* line 38, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar .nav > li:first-child {
  margin-left: 0;
}
/* line 41, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar .nav > li > a {
  padding: 31px 0 27px;
  font-size: 16px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}
/* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.header-23 .navbar .nav > li > a:hover,
.header-23 .navbar .nav > li > a:focus,
.header-23 .navbar .nav > li > a.active {
  color: #C9C9C9;
}
/* line 48, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar .nav > li.active > a {
  color: #506e8c;
}
/* line 37, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.header-23 .navbar .nav > li.active > a:hover,
.header-23 .navbar .nav > li.active > a:focus,
.header-23 .navbar .nav > li.active > a.active {
  color: #405870;
}
/* line 53, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23 .navbar .btn-navbar {
  margin: 28px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none!important;
  color: #ffffff;
}
/* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.header-23 .navbar .btn-navbar:hover,
.header-23 .navbar .btn-navbar:focus,
.header-23 .navbar .btn-navbar.active {
  color: #C9C9C9;
}
@media (max-width: 979px) {
  /* line 62, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
  .header-23 .navbar .nav-collapse {
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    height: auto!important;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  /* line 73, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  /* line 76, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  /* line 78, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  /* line 80, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  /* line 82, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  /* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .header-23 .navbar .nav-collapse .nav > li > a:hover,
  .header-23 .navbar .nav-collapse .nav > li > a:focus,
  .header-23 .navbar .nav-collapse .nav > li > a.active {
    color: #C9C9C9;
  }
  /* line 93, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  /* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .header-23 .navbar .nav-collapse .nav > li.active > a:hover,
  .header-23 .navbar .nav-collapse .nav > li.active > a:focus,
  .header-23 .navbar .nav-collapse .nav > li.active > a.active {
    color: #C9C9C9;
  }
  /* line 95, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  /* line 98, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  /* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .header-23 .navbar .nav-collapse .subnav li > a:hover,
  .header-23 .navbar .nav-collapse .subnav li > a:focus,
  .header-23 .navbar .nav-collapse .subnav li > a.active {
    color: #C9C9C9;
  }
  /* line 108, /Users/jerry/Sites/animaze/common-files/less/helper.less */
  .header-23 .navbar .nav-collapse .navbar-form,
  .header-23 .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
}
/* line 69, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23-sub {
  z-index: 50;
  left: 0;
  width: 100%;
  position: relative;
  padding-top: 360px;
  padding-bottom: 270px;
  color: white;
  text-align: center;
}
@media (max-width: 979px) {
  /* line 78, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
  .header-23-sub {
    padding-top: 260px;
    padding-bottom: 170px;
  }
}
/* line 82, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23-sub .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 30px;
  letter-spacing: -1px;
}
/* line 88, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23-sub .hero-unit strong {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -2px;
}
@media (max-width: 979px) {
  /* line 92, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
  .header-23-sub .hero-unit strong {
    display: block;
  }
}
/* line 96, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23-sub .hero-unit span {
  font-weight: 300;
}
@media (max-width: 979px) {
  /* line 98, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
  .header-23-sub .hero-unit span {
    display: block;
  }
}
/* line 102, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23-sub .hero-unit .btn-play {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  overflow: hidden;
  width: 67px;
  height: 67px;
  margin: 0 50px;
  background: url(../img/btn-play.png) no-repeat;
}
@media (max-width: 979px) {
  /* line 111, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
  .header-23-sub .hero-unit .btn-play {
    margin: 40px 0;
  }
}
/* line 116, /Users/jerry/Sites/animaze/ui-kit/ui-kit-header/less/header-23.less */
.header-23-sub .background {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
/* content */
/* line 1, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.content-23 {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
/* line 370, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.content-23.v-center,
.content-23 .v-center {
  display: table;
  width: 100%;
}
/* line 374, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.content-23.v-center > div,
.content-23 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  /* line 382, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 388, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .content-23.v-center,
  .content-23 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 392, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .content-23.v-center.row,
  .content-23 .v-center.row {
    display: block;
    width: auto;
  }
  /* line 396, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
  /* line 400, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .content-23.v-center.row > *,
  .content-23 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/* line 7, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.content-23 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #121518;
  color: #ffffff;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
/* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn.active {
  color: #C9C9C9;
}
/* line 18, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn:active,
.content-23 .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  /* line 22, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
  .content-23 .control-btn {
    bottom: 30px;
  }
}
/* line 24, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.content-23 .hero-unit {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
/* line 28, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.content-23 .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 480px) {
  /* line 34, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
  .content-23 .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 33px;
  }
}
/* line 37, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  /* line 44, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
  .content-23 .hero-unit.hero-unit-bordered h1 {
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
  }
}
/* line 48, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #121518;
  color: #ffffff;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
/* line 68, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.control-btn:hover,
.control-btn:focus,
.control-btn.active {
  color: #ffffff;
}
/* line 73, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
.control-btn:hover,
.control-btn:focus,
.control-btn:active,
.control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  /* line 81, /Users/jerry/Sites/animaze/ui-kit/ui-kit-content/less/content-23.less */
  .control-btn {
    bottom: 30px;
  }
}
/* contacts */
/**
 * Copntact 4 stylesheet  
 * */
/* line 4, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 {
  background: #ffffff url('../../../common-files/img/map.png') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #bdc3c7;
  text-align: right;
  padding-top: 115px;
  padding-bottom: 130px;
}
/* line 12, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 h3 {
  font-size: 30px;
  margin: 0 0 12px;
  color: white;
  font-weight: 300px;
}
/* line 19, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 p {
  font-size: 16px;
  line-height: 1.6;
}
/* line 24, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 a {
  color: white;
}
/* line 30, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .content {
  margin: 0 80px;
}
@media (max-width: 767px) {
  /* line 32, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
  .contacts-4 .content {
    margin: 0;
  }
}
/* line 38, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .social-btns {
  white-space: nowrap;
  margin-bottom: 35px;
}
/* line 42, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
  width: 30px;
  height: 38px;
  overflow: hidden;
  text-align: center;
  color: #1abc9c;
}
/* line 52, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .social-btns > *:first-child {
  margin-left: 0;
}
/* line 56, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
/* line 61, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .social-btns > * > *:first-child {
  color: #fff;
}
/* line 66, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .social-btns > *:hover > * {
  top: -100%;
}
/* line 72, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .links {
  margin: 35px 0 0;
  font-size: 47px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  word-break: break-all;
}
/* line 79, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
.contacts-4 .links a {
  padding-bottom: 3px;
  border-bottom: 2px solid;
}
@media (max-width: 480px) {
  /* line 88, /Users/jerry/Sites/animaze/ui-kit/ui-kit-contacts/less/contact-4.less */
  .contacts-4 .links a {
    font-size: 26px;
  }
}
/* footer */
/**
 * Footer 3 stylesheet  
 * */
/* line 4, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
.footer-3 {
  font-size: 14px;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #2c3e50;
  color: #bdc3c7;
}
/* line 370, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.footer-3.v-center,
.footer-3 .v-center {
  display: table;
  width: 100%;
}
/* line 374, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  /* line 382, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 388, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .footer-3.v-center,
  .footer-3 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 392, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .footer-3.v-center.row,
  .footer-3 .v-center.row {
    display: block;
    width: auto;
  }
  /* line 396, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
  /* line 400, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
  .footer-3.v-center.row > *,
  .footer-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/* line 11, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
.footer-3 a {
  color: #ffffff;
  font-weight: normal;
}
/* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.footer-3 a:hover,
.footer-3 a:focus,
.footer-3 a.active {
  color: #C9C9C9;
}
/* line 12, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
.footer-3 h1,
.footer-3 .h1,
.footer-3 h2,
.footer-3 .h2,
.footer-3 h3,
.footer-3 .h3,
.footer-3 h4,
.footer-3 .h4,
.footer-3 h5,
.footer-3 .h5,
.footer-3 h6,
.footer-3 .h6 {
  color: white;
}
/* line 18, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
.footer-3 .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/* line 23, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
.footer-3 .additional-links a {
  color: #bdc3c7;
  text-decoration: underline;
}
/* line 47, /Users/jerry/Sites/animaze/common-files/less/mixins.less */
.footer-3 .additional-links a:hover,
.footer-3 .additional-links a:focus,
.footer-3 .additional-links a.active {
  color: #C9C9C9;
}
/* line 27, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
.footer-3 h6 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  text-transform: none;
}
/* line 33, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
.footer-3 .address {
  line-height: 1.6;
}
@media (max-width: 767px) {
  /* line 37, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
  .footer-3 .row > [class*="span"] {
    margin-top: 30px;
  }
  /* line 39, /Users/jerry/Sites/animaze/ui-kit/ui-kit-footer/less/footer-3.less */
  .footer-3 .row > [class*="span"]:first-child {
    margin-top: 0;
  }
}
/* line 26, /Users/jerry/Sites/animaze/less/style.less */
body > section {
  padding-top: 110px;
  padding-bottom: 130px;
}
@media (max-width: 480px) {
  /* line 30, /Users/jerry/Sites/animaze/less/style.less */
  body > section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
/* line 36, /Users/jerry/Sites/animaze/less/style.less */
a {
  color: #7491cf;
}
/* line 43, /Users/jerry/Sites/animaze/less/style.less */
i {
  font-family: 'font-awesome';
}
/* line 48, /Users/jerry/Sites/animaze/less/style.less */
h5 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.7em;
  margin-top: 35px;
  margin-bottom: 35px;
  text-transform: none;
}
/* line 57, /Users/jerry/Sites/animaze/less/style.less */
h6 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.7em;
  margin-top: 35px;
  margin-bottom: 35px;
  text-transform: none;
}
/* line 66, /Users/jerry/Sites/animaze/less/style.less */
.arrow-float {
  position: fixed;
  bottom: 100px;
  left: 40px;
  z-index: 9999;
}
/* line 73, /Users/jerry/Sites/animaze/less/style.less */
.logo-header {
  width: 170px;
  position: absolute;
  top: 20px;
}
/* line 81, /Users/jerry/Sites/animaze/less/style.less */
.tagline-header h3 {
  color: white;
  margin-bottom: 30px;
}
/* line 86, /Users/jerry/Sites/animaze/less/style.less */
.tagline-header h4 {
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-bottom: 30px;
  font-size: 0.7em;
}
/* line 95, /Users/jerry/Sites/animaze/less/style.less */
.tagline-header #play {
  margin-bottom: 10px;
}
/* line 102, /Users/jerry/Sites/animaze/less/style.less */
.header-23 .navbar-inner {
  padding: 0px 40px;
}
/* line 109, /Users/jerry/Sites/animaze/less/style.less */
.header-23-sub {
  padding-top: 170px;
  padding-bottom: 50px;
  background: #1b1e21;
}
/* line 114, /Users/jerry/Sites/animaze/less/style.less */
.header-23-sub .background {
  background-image: url(../img/header.jpg);
}
/* line 123, /Users/jerry/Sites/animaze/less/style.less */
.mask {
  z-index: 1000;
  background-color: #000000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
/* line 137, /Users/jerry/Sites/animaze/less/style.less */
.popup-video {
  z-index: 1000;
  margin: 5% 10%;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
/* line 148, /Users/jerry/Sites/animaze/less/style.less */
.popup-video > * {
  width: 100%;
  height: 70%;
}
/* line 153, /Users/jerry/Sites/animaze/less/style.less */
.popup-video button.close {
  right: -20px;
  top: -32px;
  position: absolute;
  font-size: 25px;
  color: white;
  z-index: 3000;
  opacity: 1;
  width: 30px;
  height: 30px;
}
/* line 165, /Users/jerry/Sites/animaze/less/style.less */
.popup-video button.close:hover,
.popup-video button.close:focus {
  color: #D6D6D6;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
/* line 175, /Users/jerry/Sites/animaze/less/style.less */
.logos {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  /* line 179, /Users/jerry/Sites/animaze/less/style.less */
  .logos {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  /* line 184, /Users/jerry/Sites/animaze/less/style.less */
  .logos {
    display: none;
  }
}
/* line 186, /Users/jerry/Sites/animaze/less/style.less */
.logos > .container {
  display: table;
}
/* line 189, /Users/jerry/Sites/animaze/less/style.less */
.logos > .container > div {
  display: table-cell;
  text-align: center;
}
/* line 197, /Users/jerry/Sites/animaze/less/style.less */
#features {
  padding-bottom: 0px;
}
/* line 199, /Users/jerry/Sites/animaze/less/style.less */
#features .feature {
  margin-bottom: 80px;
}
/* line 202, /Users/jerry/Sites/animaze/less/style.less */
#features .icon {
  margin-bottom: 20px;
}
@media (min-width: 980px) {
  /* line 206, /Users/jerry/Sites/animaze/less/style.less */
  #features .magic h5 {
    margin-left: 70px;
    margin-right: 70px;
  }
}
/* line 225, /Users/jerry/Sites/animaze/less/style.less */
#team h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 1.5em;
  font-size: 2em;
  font-weight: 300;
}
/* line 233, /Users/jerry/Sites/animaze/less/style.less */
#team h4 {
  padding-bottom: 10px;
  line-height: 1.8em;
  font-size: 1.4em;
  font-weight: 100;
}
/* line 241, /Users/jerry/Sites/animaze/less/style.less */
#team a h3,
#team a h3,
#team a h3 {
  color: #2980b9;
}
/* line 248, /Users/jerry/Sites/animaze/less/style.less */
#team a:hover h3,
#team a:focus h3,
#team a:active h3 {
  color: #3498db;
}
/* line 254, /Users/jerry/Sites/animaze/less/style.less */
#team img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}
/* line 262, /Users/jerry/Sites/animaze/less/style.less */
#team .member-home {
  margin-bottom: 30px;
}
/* line 270, /Users/jerry/Sites/animaze/less/style.less */
.modal {
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 95%;
  margin-left: 0;
  background-color: #ffffff;
  border: 0px solid #999;
  border: 0px solid rgba(0, 0, 0, 0.3);
  *border: 0px solid #999;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  outline: none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 304, /Users/jerry/Sites/animaze/less/style.less */
.modal .modal-title {
  text-align: center;
  padding: 15px;
}
/* line 309, /Users/jerry/Sites/animaze/less/style.less */
.modal .close {
  font-size: 50px;
  width: 50px;
  height: 50px;
}
/* line 320, /Users/jerry/Sites/animaze/less/style.less */
.modal.fade.in {
  top: 0;
}
/* line 323, /Users/jerry/Sites/animaze/less/style.less */
.modal-backdrop {
  background-color: #FFFFFF;
}
/* line 331, /Users/jerry/Sites/animaze/less/style.less */
.content-23 {
  background-color: #ecf0f1;
}
/* line 332, /Users/jerry/Sites/animaze/less/style.less */
.content-23 .c23-video {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 338, /Users/jerry/Sites/animaze/less/style.less */
.content-23 .control-btn {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
/* line 342, /Users/jerry/Sites/animaze/less/style.less */
.content-23.custom-bg {
  background-image: url('../img/press-background.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 351, /Users/jerry/Sites/animaze/less/style.less */
#press {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* line 354, /Users/jerry/Sites/animaze/less/style.less */
#press .btn {
  margin-top: 20px;
}
/* line 357, /Users/jerry/Sites/animaze/less/style.less */
#press h2 {
  margin-bottom: 20px;
}
/* line 360, /Users/jerry/Sites/animaze/less/style.less */
#press h3 {
  margin-bottom: 10px;
}
/* line 366, /Users/jerry/Sites/animaze/less/style.less */
#contact {
  background: #3397DB;
}
/* line 368, /Users/jerry/Sites/animaze/less/style.less */
#contact a:hover {
  color: #2c3e50;
}
/* line 372, /Users/jerry/Sites/animaze/less/style.less */
#contact .phone-nr {
  margin-top: 30px;
}
/* line 378, /Users/jerry/Sites/animaze/less/style.less */
footer .logo-footer {
  max-width: 170px;
}
/* line 383, /Users/jerry/Sites/animaze/less/style.less */
.footer-3 {
  background: black;
}
/* line 388, /Users/jerry/Sites/animaze/less/style.less */
.footer-3 a {
  color: black;
}
/* line 391, /Users/jerry/Sites/animaze/less/style.less */
.btn-white {
  top: 20px;
  background: #FFFFFF;
}
/* line 397, /Users/jerry/Sites/animaze/less/style.less */
#home {
  margin-bottom: 60px;
}
/* line 399, /Users/jerry/Sites/animaze/less/style.less */
#home .navbar {
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 401, /Users/jerry/Sites/animaze/less/style.less */
#home .navbar .nav ul {
  padding-top: 9px;
}
/* line 405, /Users/jerry/Sites/animaze/less/style.less */
#home .navbar .nav ul:before {
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important;
  top: 0px;
}
/* line 410, /Users/jerry/Sites/animaze/less/style.less */
#home .navbar .nav ul li {
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 414, /Users/jerry/Sites/animaze/less/style.less */
#home .navbar .nav ul a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 10px 13px;
  text-decoration: none;
}
/* line 423, /Users/jerry/Sites/animaze/less/style.less */
#home .navbar .nav ul a:hover {
  background-color: #3498db;
}
/* line 431, /Users/jerry/Sites/animaze/less/style.less */
.features p,
.team p,
.features ol li,
.team ol li {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.8em;
  color: #2c3e50;
  text-align: justify;
}
/* line 440, /Users/jerry/Sites/animaze/less/style.less */
.features #home,
.team #home {
  margin-bottom: 60px;
}
/* line 443, /Users/jerry/Sites/animaze/less/style.less */
.features #home .navbar-inner,
.team #home .navbar-inner {
  padding: 0px 40px;
}
/* line 448, /Users/jerry/Sites/animaze/less/style.less */
.features #home .navbar,
.team #home .navbar {
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 452, /Users/jerry/Sites/animaze/less/style.less */
.features #home .navbar .nav ul,
.team #home .navbar .nav ul {
  padding-top: 9px;
}
/* line 456, /Users/jerry/Sites/animaze/less/style.less */
.features #home .navbar .nav ul:before,
.team #home .navbar .nav ul:before {
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important;
  top: 0px;
}
/* line 461, /Users/jerry/Sites/animaze/less/style.less */
.features #home .navbar .nav ul li,
.team #home .navbar .nav ul li {
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 465, /Users/jerry/Sites/animaze/less/style.less */
.features #home .navbar .nav ul a,
.team #home .navbar .nav ul a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 10px 13px;
  text-decoration: none;
}
/* line 474, /Users/jerry/Sites/animaze/less/style.less */
.features #home .navbar .nav ul a:hover,
.team #home .navbar .nav ul a:hover {
  background-color: #3498db;
}
/* line 488, /Users/jerry/Sites/animaze/less/style.less */
.features .dd-li {
  position: absolute;
}
/* line 494, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison .row {
  margin-left: 0px !important;
}
/* line 498, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison .bluebox {
  margin: 20px 0px 70px 0px;
}
/* line 502, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison .prod {
  background-color: #F3FCFF;
}
/* line 505, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison .post {
  background-color: #DCF8FF;
}
/* line 508, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison .launch {
  background-color: #CAF5FF;
}
/* line 512, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison .comparison-list {
  padding: 10px;
}
/* line 516, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison h4 {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 521, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison h5 img {
  padding-left: 25px;
  width: 30px;
}
/* line 526, /Users/jerry/Sites/animaze/less/style.less */
.features #comparison li {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
  padding-bottom: 20px;
}
/* line 534, /Users/jerry/Sites/animaze/less/style.less */
.features .arrow-up {
  margin-top: 180px;
  margin-bottom: 0px;
}
/* line 539, /Users/jerry/Sites/animaze/less/style.less */
.features section {
  padding-top: 70px;
  padding-bottom: 0px;
}
/* line 543, /Users/jerry/Sites/animaze/less/style.less */
.features section h3 {
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 1.7em;
  font-weight: 100;
  font-size: 4em;
}
/* line 552, /Users/jerry/Sites/animaze/less/style.less */
.features section .feat-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
/* line 558, /Users/jerry/Sites/animaze/less/style.less */
.features section .comparison-chart {
  max-width: 970px;
  width: 100%;
  cursor: pointer;
}
/* line 564, /Users/jerry/Sites/animaze/less/style.less */
.features section .dl-pdf {
  margin-top: 50px;
}
/* line 572, /Users/jerry/Sites/animaze/less/style.less */
.team .arrow-up-content {
  display: block;
  position: relative;
  margin: 0 auto;
  left: 13px;
  bottom: 0px;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* line 582, /Users/jerry/Sites/animaze/less/style.less */
.team section {
  padding-top: 100px;
}
/* line 585, /Users/jerry/Sites/animaze/less/style.less */
.team section h2 {
  font-size: 4em;
  margin-bottom: 40px;
}
/* line 590, /Users/jerry/Sites/animaze/less/style.less */
.team section h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 1.5em;
  font-size: 3.2em;
  font-weight: 300;
}
/* line 598, /Users/jerry/Sites/animaze/less/style.less */
.team section h4 {
  padding-bottom: 10px;
  line-height: 1.5em;
  font-size: 2.2em;
  font-weight: 100;
}
/* line 607, /Users/jerry/Sites/animaze/less/style.less */
.team section img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}
/* line 615, /Users/jerry/Sites/animaze/less/style.less */
.team section .member {
  padding-top: 60px;
}
