@import '../flat-ui/less/config.less';
@import '../flat-ui/less/mixins.less';
/*only fo flat-ui free*/ 
@import '../common-files/less/flat-ui-free2.0.0-fix.less'; /* end only for flat-ui free*/
@import '../common-files/less/mixins.less';
@import '../common-files/less/common.less';
@import '../common-files/less/navbar.less';
@import '../common-files/less/helper.less';


/* header */
@import '../ui-kit/ui-kit-header/less/header-23.less';

/* content */
@import '../ui-kit/ui-kit-content/less/content-23.less';

/* contacts */
@import '../ui-kit/ui-kit-contacts/less/contact-4.less';

/* footer */
@import '../ui-kit/ui-kit-footer/less/footer-3.less';


@animaze-blue: #3498db;

body > section {
  padding-top: 110px;
  padding-bottom: 130px;

  @media (max-width: 480px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

a {
  color: #7491cf;

}



i {
  font-family: 'font-awesome';

}

h5 {
   font-size: 2em;
   font-weight: 300;
   line-height: 1.7em;
   margin-top: 35px;
   margin-bottom: 35px;
   text-transform: none;
}

h6 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.7em;
  margin-top: 35px;
  margin-bottom: 35px;
  text-transform: none;
}

.arrow-float {
  position: fixed;
  bottom: 100px;
  left: 40px;
  z-index: 9999;
}

.logo-header {
  width: 170px;
  position: absolute;
  top: 20px;
}

.tagline-header {

  h3 {
    color: white;
    margin-bottom: 30px;
  }

  h4 {
   color: white;
   font-weight: 100;
   letter-spacing: 1px;
   line-height: 1.5em;
   padding-bottom: 30px;
   font-size: 0.7em;
  }

  #play {
    margin-bottom: 10px;
  }

}

.header-23{
    .navbar-inner {
      padding: 0px 40px;

    }
}


.header-23-sub {
  padding-top: 170px;
  padding-bottom: 50px;
  background: #1b1e21;

  .background {
    background-image:  url(../img/header.jpg);
  }


}



.mask {
  z-index: 1000;
  background-color: #000000;
  .opacity(90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}



.popup-video {
  z-index: 1000;
  margin: 5% 10%;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  > * {
    width: 100%;
    height: 70%;
  }

  button.close {
   right: -20px;
   top: -32px;
   position: absolute;
   font-size: 25px;
   color: white;
   z-index: 3000;
   opacity: 1;
   width: 30px;
   height: 30px;
   }

   button.close:hover, button.close:focus {
   color: #D6D6D6;
   text-decoration: none;
   cursor: pointer;
   opacity: 1;
   }
}



.logos {  
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: 480px) { display: none;}

  > .container {
    display: table;

    > div {
      display: table-cell;
      text-align: center;
    }
  }
}


#features {
   padding-bottom: 0px;
      .feature {
      margin-bottom: 80px;
      }
      .icon {
       margin-bottom: 20px;
      }
      .magic h5 {
         @media (min-width: 980px) { 
          margin-left: 70px;
          margin-right: 70px; 
        }
      }
}


// #team {
//    padding-top: 50px;
//   .projects{
//       .project:hover .name {
//       color: #7E7E7E;
//       }
//   }
// }

#team {

    h3 {
       padding-top: 20px;
       padding-bottom: 10px;
       line-height: 1.5em;
       font-size: 2em;
       font-weight: 300;
    }

    h4 {
       
       padding-bottom: 10px;
       line-height: 1.8em;
       font-size: 1.4em; 
       font-weight: 100;
    }

    a h3, 
    a h3, 
    a h3 {
      color: @belize-hole;
    }


    a:hover h3, 
    a:focus h3, 
    a:active h3 {
      color: @animaze-blue;
    }

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px; 
      .border-radius(50%);
      display: inline-block;
    }

    .member-home {
      margin-bottom: 30px;
    }



}

.modal {
  width: 100%;
  margin-left: 0;
  left: 0;
  margin: 0 auto;

  
  top: 0;
  left: 0;
  z-index: 1050;
  width: 95%;
  margin-left: 0;
  background-color: #ffffff;
  border: 0px solid #999; 
  border: 0px solid rgba(0, 0, 0, 0.3); 
  *border: 0px solid #999;
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px;
          
  border-radius: 0px; 
  outline: none;
  -webkit-box-shadow: 0 0 0  rgba(0, 0, 0, 0.3); 
     -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
          
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); 
  -webkit-background-clip: padding-box; 
  -moz-background-clip: padding-box;
          
  background-clip: padding-box; 

  .modal-body {
 }


  .modal-title {
    text-align: center;
    padding: 15px; 
    }

  .close {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }

}

  


.modal.fade.in {
  top: 0;
}
.modal-backdrop {
  background-color: #FFFFFF;
}





.content-23{
  .c23-video{
    position:absolute;
    height:100%;
    width:100%;
    
  }
  .control-btn{
    .opacity(10);
  }
  background-color: @clouds;
  &.custom-bg {
    background-image:url('../img/press-background.jpg');
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-attachment: fixed; 
  }
}


#press {
   padding-top: 70px;
   padding-bottom: 70px;
   .btn {
      margin-top: 20px;
   }
   h2 {
      margin-bottom: 20px;
   }
   h3 {
      margin-bottom: 10px;
   }
}


#contact {
   background: #3397DB;
   a:hover {
  color: @midnight-blue;
  }

  .phone-nr{
    margin-top: 30px;
  }
}

footer {
  .logo-footer {
    max-width: 170px;
  }

}
  .footer-3 {
    background: black;
  }


   .footer-3 a{
      color: black;
   }
.btn-white{

   top: 20px;
   background: #FFFFFF;
}

#home {
margin-bottom: 60px;
  .navbar {
      background-color: rgba(0, 0, 0, 0.85);
      .nav ul {
        padding-top: 9px;
      }

      .nav ul:before{
        border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important;
       top: 0px;
      }

      .nav ul li {
        background-color: rgba(0, 0, 0, 0.85);
      }

      .nav ul a {
       .border-radius(0px);
       color: #ffffff;
       display: block;
       font-size: 14px;
       padding: 10px 13px;
       text-decoration: none;
      }

      .nav ul a:hover {
        background-color: @animaze-blue;
      }

    }
}

.features, .team {
    p,
    ol li {
     font-weight: 300;
     font-size: 21px;
     line-height: 1.8em;
     color: @midnight-blue;
     text-align: justify;
    }

    #home {
       margin-bottom: 60px;

       .navbar-inner {
         
         padding: 0px 40px;
       }

      .navbar {
        background-color: rgba(0, 0, 0, 0.85);
       

        .nav ul {
          padding-top: 9px;
        }

        .nav ul:before{
          border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important;
         top: 0px;
        }

        .nav ul li {
          background-color: rgba(0, 0, 0, 0.85);
        }

        .nav ul a {
         .border-radius(0px);
         color: #ffffff;
         display: block;
         font-size: 14px;
         padding: 10px 13px;
         text-decoration: none;
        }

        .nav ul a:hover {
          background-color: @animaze-blue;
        }

        }
    }

}




.features {

    .dd-li {
      position: absolute;
    }

    #comparison {

      .row {
        margin-left: 0px !important;
      }

      .bluebox {
        margin: 20px 0px 70px 0px;
      }

      .prod {
        background-color: #F3FCFF;
      }
      .post {
        background-color: #DCF8FF;
      }
      .launch {
        background-color: #CAF5FF;
      }

      .comparison-list {
      padding: 10px;
      }

      h4 {
        margin-bottom: 30px;
        margin-top: 30px;
      }

      h5 img {
        padding-left: 25px;
        width: 30px;
      }

      li {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.7em;
        padding-bottom: 20px;
      }
    }

   .arrow-up {
    margin-top: 180px;
    margin-bottom: 0px;
    }

   section {
      padding-top: 70px;
      padding-bottom: 0px;
      
      h3 {
         padding-top: 20px;
         padding-bottom: 30px;
         line-height: 1.7em;
         font-weight: 100;
         font-size: 4em;

      }

     .feat-icon {
      width: 100px;
      height: 100px;
      margin-bottom: 20px; 
     }

     .comparison-chart {
      max-width: 970px;
      width: 100%;
      cursor: pointer;
     }

     .dl-pdf {
      margin-top: 50px;
     }
   }
}

.team {

   .arrow-up-content  {
    display: block;
    position: relative;
    margin: 0 auto;
    left: 13px;
    bottom: 0px;
    margin-top: 50px;
    margin-bottom: 100px;
    }

   section {
      padding-top: 100px;

      h2 {
        font-size:  4em;
         margin-bottom: 40px;
      }

      h3 {
         padding-top: 20px;
         padding-bottom: 10px;
         line-height: 1.5em;
         font-size: 3.2em;
         font-weight: 300;
      }

      h4 {
         
         padding-bottom: 10px;
         line-height: 1.5em;
         font-size: 2.2em;
         font-weight: 100;
      }


     img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px; 
      .border-radius(50%);
      display: inline-block;
     }

     .member {
      padding-top: 60px;
     }




   }
}




