@import '../flat-ui/less/config.less';
@import '../flat-ui/less/mixins.less';
/*only fo flat-ui free*/ 
@import '../common-files/less/flat-ui-free2.0.0-fix.less'; /* end only for flat-ui free*/
@import '../common-files/less/mixins.less';
@import '../common-files/less/common.less';
@import '../common-files/less/navbar.less';
@import '../common-files/less/helper.less';


/* header */
@import '../ui-kit/ui-kit-header/less/header-6.less';

/* projects */
@import '../ui-kit/ui-kit-projects/less/project-3.less';

/* footer */
@import '../ui-kit/ui-kit-footer/less/footer-3.less';

body > section {
  padding-top: 110px;
  padding-bottom: 130px;

  @media (max-width: 480px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.header-6{

  .navbar {
      .logo-header {
        max-width: 400px;
      }
  }
    
 
}

.tpl-10-section-1 {

      &,
      h1, .h1,
      h2, .h2,
      h3, .h3,
      h4, .h4,
      h5, .h5,
      h6, .h6 {
        color: @c-text-color;
      }
    
      a {
        .a-color(@silver, @h-text-color);
      }

  
  h3{
    .font(30px, @h-text-color);
    font-family:@h-font-family; 
    font-weight:300;
    text-align:center;
    margin:0 0 30px;
  }
  .fui-arrow-right,  .fui-arrow-left {
      font-size: 30px;
  }

  .pt-item-1 {
      a:hover, .tpl-10-section-1 a:focus, .tpl-10-section-1 a.active {
      color: grey;
      }
      .box-icon .icon{
        border: 7px solid black;
        color: black;
      }
  }

  .pt-item-2 {
      h3, p {
        color: white;
      }

      a {
        color: grey;
      }
      a:hover, .tpl-10-section-1 a:focus, .tpl-10-section-1 a.active {
      color: white;
      }
      .box-icon .icon{
        border: 7px solid #FFFFFF;
        color: white;
      }
  }
  
  padding: 0;
  .page-transitions { height: 1000px;}
  .pt-page {
    padding-top: 120px;
    padding-bottom: 120px;
    
    @media (max-width: 767px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @media (max-width: 480px) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }  
  .article-info {
    margin-bottom: 80px;
    .font(15px, @silver);
    font-weight: 500;
    text-align: center;
  
    > * {margin: 0; padding-right: 20px;}
  
    [class*="fui-"] {
      position: relative;
      top: 2px;
      margin-right: 10px;
      .font(16px,@silver);
    }
      
    @media (max-width: 480px) {
      margin-bottom: 30px;
  
      > * {
        display: block;
        text-align: left;
  
        & + * {margin-top: 10px;}
      }
    }
  }
  .box-icon {
    color:@h-text-color;
    margin: 0 auto 50px;
    text-align: center;
    .font(16px, @h-text-color);
  
    > * {
      display: inline-block;
      vertical-align: middle;
    }  
    .icon {
      .box-sizing(border-box);
      width: 95px; height: 95px;
      margin: 0 50px;
      border: 7px solid @h-text-color;
      overflow: hidden;
      .border-radius(50%);      
      .font(48px, @h-text-color);
      .line-height(81px);      
    }
  }  
  .pt-perspective {
    position: relative;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    overflow: hidden;
  }  
  .pt-page {
    .box-sizing(border-box);
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }  
  .pt-page-current,
  .no-js .pt-page {
    visibility: visible;
    z-index: 1;
  }  
  .pt-page-ontop {z-index: 999;}
  .page-transitions {background: #000;}  
}

.logos {  
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: 480px) { display: none;}

  > .container {
    display: table;

    > div {
      display: table-cell;
      text-align: center;
    }
  }
}

.projects-3 {
  .projects{
      .project:hover .photo-wrapper,{
      background-color: #7E7E7E;
      }
      .project:hover .name {
      color: #7E7E7E;
      }
  }
}




footer {
  .logo-footer {
    max-width: 300px;
  }

}
  .footer-3 {
    background: black;
  }